<ng-template #pageTemplate>
    <div class="page contact">

        <div>
            <app-blueify [blueifyType]="'h1'"
                [content]="'How to Reach me.'"></app-blueify>
        </div>

        <div class="inline_display">
            <i class="material-icons contact_icon">phone_android</i>:&nbsp;
            <app-blueify [blueifyType]="'span'"
                [content]="'(831) 200-3298'"></app-blueify>
        </div>
        <br>
        <br>
        <div>
            <i class="material-icons contact_icon">email</i>:&nbsp;
            <app-blueify [blueifyType]="'span'"
                [content]="'email@luc.gg'"></app-blueify>
        </div>
    </div>
</ng-template>

<app-page [pageIndex]="3"
    [pageTemplate]="pageTemplate">    
</app-page>