<ng-template #pageTemplate>
    <div class="page contact">

        <div>
            <luc-blueify [blueifyType]="'h1'"
                [content]="'How to Reach me.'"></luc-blueify>
        </div>

        <i class="material-icons contact_icon">phone_android</i>:&nbsp;
        <div class="inline_display">
            <luc-blueify [blueifyType]="'phone'"
                [content]="'(831) 200-3298'"></luc-blueify>
        </div>

        <br>
        <br>

        <i class="material-icons contact_icon">email</i>:&nbsp;
        <div class="inline_display">
            <luc-blueify [blueifyType]="'email'"
                [content]="'email@luc.gg'"></luc-blueify>
        </div>

        <br>
        <br>

        <i class="material-icons contact_icon">people</i>:&nbsp;
        <div class="inline_display">
            <luc-blueify [blueifyType]="'linked'"
                [content]="'linkedin.com'"></luc-blueify>
        </div>
    </div>
</ng-template>

<luc-page [pageIndex]="3"
    [pageTemplate]="pageTemplate">
</luc-page>
