.page.contact {
    margin: 200px auto;
}

.contact_button_group {
    align-content: center;
}

.contact_button_div {
    float: left;
    margin: 25px;
    position: relative;
    left: calc(50% - 125px);
    text-align: center;
}

.contact_icon {
    position: relative;
    top: 5px;
}
