<div class="email_submissionBG"
     [hidden]="showEmail === false"
     [@enterBoxBG]="showEmail"></div>

<div class="email_submission"
     [hidden]="showEmail === false"
     (click)="hideEmail()">
</div>

<div class="email_submission_form"
     [hidden]="showEmail === false"
     [@enterBox]="showEmail">
     <input class="email_input input"
       placeholder="your e-mail">
    <input class="email_input input"
           placeholder="subject">
    <textarea class="email_input body"></textarea>

    <div class="email_submission_form_buttons">
        <button (click)="hideEmail()">cancel</button>
        <button>send</button>
    </div>
</div>