<ng-template #h1Template>
    <h1 *ngFor="let string of contentArray">{{string}}</h1>
</ng-template>

<ng-template #h2Template>
    <h2 *ngFor="let string of contentArray">{{string}}</h2>
</ng-template>

<ng-template #h3Template>
    <h3 *ngFor="let string of contentArray">{{string}}</h3>
</ng-template>

<ng-template #spanTemplate>
    <span *ngFor="let string of contentArray">{{string}}&nbsp;</span>
</ng-template>

<ng-template #pTemplate>
    <p *ngFor="let string of contentArray">{{string}}&nbsp;</p>
</ng-template>

<ng-template #phoneTemplate>
    <a *ngFor="let string of contentArray"
        href="tel:8312003298">{{string}}&nbsp;</a>
</ng-template>

<ng-template #emailTemplate>
    <a *ngFor="let string of contentArray"
        href="mailto:email@luc.gg">{{string}}</a>
</ng-template>

<ng-template #linkedTemplate>
    <a *ngFor="let string of contentArray"
        href="https://www.linkedin.com/in/lucgeegee" target="_blank">{{string}}</a>
</ng-template>

<ng-container *ngTemplateOutlet="getTemplate(h1Template, h2Template, h3Template, spanTemplate, pTemplate, phoneTemplate, emailTemplate, linkedTemplate)"></ng-container>
