h1 {
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;
}

h2 {
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;
}

h3 {
    line-height: 1.8;
    margin-left: 3px;
    margin-right: 3px;
    word-wrap: normal;
    display: inline-block;
    cursor: default;
}

span {
    line-height: 1.8;
    margin: 0 3px;
    word-wrap: normal;
    display: inline-block;
    cursor: default;
}

p {
    line-height: 1.8;
    margin: 0 3px;
    word-wrap: normal;
    display: inline-block;
    cursor: default;
}