
<div [ngClass]="{'inline_display': inlineDisplay === 'h1'}" 
    [hidden]="blueifyType !== 'h1'">
    <h1 *ngFor="let string of content; index as i;"
          (mouseenter)="mouseEnter(i)"
          (mouseleave)="mouseLeave(i)"
          [@mouseOver]="getMouseOver(i)">{{string}}</h1>
</div>

<div [ngClass]="{'inline_display': inlineDisplay === 'span'}" 
    [hidden]="blueifyType !== 'span'">
    <span *ngFor="let string of content; index as i;"
          (mouseenter)="mouseEnter(i)"
          (mouseleave)="mouseLeave(i)"
          [@mouseOverSpan]="getMouseOver(i)">{{string}}</span>
</div>


<!--

<div class="blueify" 
    [hidden]="blueifyType !== 'span'">
    <span class="{{spanClass}}"
          (mouseenter)="mouseEnter()"
          (mouseleave)="mouseLeave()"
          [@mouseOver]="mouseOver">{{content}}</span>
</div>

<div class="blueify" 
    [hidden]="blueifyType !== 'h1'">
    <h1 class="{{spanClass}}"
        (mouseenter)="mouseEnter()"
        (mouseleave)="mouseLeave()"
        [@mouseOver]="mouseOver">{{content}}</h1>
</div>-->