div {
    width: 100%;
    word-wrap: break-word;
    cursor: default;
}

h1 {
    margin-left: 5px;
    margin-right: 5px;
}

h2 {
    margin-left: 5px;
    margin-right: 5px;
}

h3 {
    line-height: 1.8;
    margin-left: 3px;
    margin-right: 3px;
    word-wrap: normal;
    display: inline-block;
}

span {
    line-height: 1.8;
    margin: 0 3px;
    word-wrap: normal;
    display: inline-block;
}

p {
    line-height: 1.8;
    margin: 0 3px;
    word-wrap: normal;
    display: inline-block;
}