<div
  class="indicator"
  [@enterIndicator]="activePage"
  [@shiftIndicator]="activePage"
>
  <div class="background"></div>
</div>

<div class="navbar_background" [@enterBG]="true"></div>

<div class="main_navbar" [@enterNav]="true">
  <div class="navigation">
    <div
      class="navigation_button"
      [ngClass]="{ selected: activePage === 0 }"
      (click)="setPage(0)"
    >
      <span>home</span>
    </div>
    <div
      class="navigation_button"
      [ngClass]="{ selected: activePage === 1 }"
      (click)="setPage(1)"
    >
      <span>about</span>
    </div>
    <div
      class="navigation_button"
      [ngClass]="{ selected: activePage === 2 }"
      (click)="setPage(2)"
    >
      <span>projects</span>
    </div>
    <div
      class="navigation_button"
      [ngClass]="{ selected: activePage === 3 }"
      (click)="setPage(3)"
    >
      <span>contact</span>
    </div>
  </div>
</div>
