* {
    text-align: left;
}

.navbar_background {
    position: fixed;
    bottom: -20px;
    left: -20%;
    z-index: -420;
    height: 140px;
    width: 140%;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.indicator {
    position: fixed;
    bottom: 14px;
    z-index: 1100;
    height: 25px;
    width: 100px;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    box-shadow: 0 0 10px 1px #393939;
}

.main_navbar {
    position: fixed;
    bottom: 0px;
    left: 1px;
    z-index: 1200;
    height: 50px;
    width: 100%;
    pointer-events: none;
    cursor: default;
}

.navigation {
    min-width: 420px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.navigation_button {
    color: #239dee;
    position: relative;
    top: 12px;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 100px;
    pointer-events: auto;
    outline: none;
    transform: scale(1, 1);
    opacity: 0.75;
    cursor: pointer;
    transition: all 1s;
}

.navigation_button:hover {
  color: white;
  transform: scale(1.25, 1.25);
  opacity: 1;
}

.navigation_button.selected {
  color: white;
  transform: scale(1, 1);
  opacity: 1;
  cursor: default;
}
