* {
  text-align: left;
}

.navbar_background {
  position: fixed;
  top: 0px;
  bottom: auto;
  left: 0px;
  z-index: 1000;
  height: 75px;
  width: 140%;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  /* http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(top, #585858c5 0%, #58585800 100%);
  background: -webkit-linear-gradient(top, #585858c5 0%, #58585800 100%);
  background: linear-gradient(to bottom, #585858c5 0%, #58585800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

.indicator {
  position: fixed;
  top: 7px;
  bottom: auto;
  z-index: 1100;
  height: 25px;
  width: 100px;
  border-style: solid;
  border-width: 1.5px;
  border-color: white;
  box-shadow: 0 0 10px 1px #393939;
}

.main_navbar {
  position: fixed;
  top: 0px;
  bottom: auto;
  left: 0px;
  z-index: 1200;
  height: 50px;
  width: 100%;
  pointer-events: none;
  cursor: default;
}

.navigation {
  min-width: 420px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.navigation_button {
  color: #239dee;
  position: relative;
  top: 13px;
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 100px;
  pointer-events: auto;
  outline: none;
  transform: scale(1, 1);
  cursor: pointer;
  transition: all 1s;
  -webkit-tap-highlight-color: transparent;
}

.navigation_button:hover {
  color: white;
  transform: scale(1.25, 1.25);
}

.navigation_button.selected {
  color: white;
  transform: scale(1, 1);
  cursor: default;
}

@media (max-width: 980px) {
  .navbar_background {
    top: auto;
    bottom: 0px;
    /* http://www.colorzilla.com/gradient-editor/ */
    background: -moz-linear-gradient(top, #00000000 0%, #000000c5 100%);
    background: -webkit-linear-gradient(top, #00000000 0%, #000000c5 100%);
    background: linear-gradient(to bottom, #00000000 0%, #000000c5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }

  .main_navbar {
    top: auto;
    bottom: 0px;
  }

  .indicator {
    top: auto;
    bottom: 14px;
  }
}
