.navbar_background {
    position: fixed;
    top: -60px;
    z-index: 1000;
    background-color: black;
    height: 100px;
    width: 100%;
}

.indicator {
    position: fixed;
    top: 5px;
    z-index: 1100;
    height: 35px;
    width: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #393939;
}

.main_navbar {
    position: fixed;
    top: 0px;
    z-index: 1200;
    height: 50px;
    width: 100%;
    cursor: default;
}

.navigation {
    min-width: 420px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.navigation_button {
    position: relative;
    top: 12.5px;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 100px;
}

.navigation_button:hover {
    color: darkgrey;
    cursor: pointer;
}

.selected {
    color: darkgrey;
    /*background-color: red;*/
}