<ng-template #homeTemplate>
    <div class="page home">
        <h1>Code Monkey.</h1>

        <button (click)="setPage(1)">about</button>
        <button (click)="setPage(2)">projects</button>
    </div>
</ng-template>

<ng-template #aboutTemplate>
    <div class="page about">

        <h1>Who am I?</h1>

        <button (click)="displayPDF(true)">resume</button>
        <button (click)="setPage(3)">contact</button>

        <div class="description">
            <img class="image_self" 
                 src="assets\images\myself.jpg">

            <p>Over the past 5 years, I have taught myself to code. With the past year primarily focused on web technologies. If there's one thing I have learned throughout this process, is that there is always more to learn.
                Eager to further expand my knowledge, I sought after mentorship. And landed an internship under the guidance of Denis Bajet at hospitalityPulse. Now, with my new found knowledge,
                I'm constantly on the search for opportunities to expand on my skills and portfolio</p>
        </div>

    </div>
    
    <app-pdf-viewer></app-pdf-viewer>
</ng-template>

<ng-template #projectsTemplate>
    <div class="page projects">
        <h1>Projects</h1>
        <app-project></app-project>
<!--        <br>
        <app-project></app-project>
        <br>
        <app-project></app-project>-->
    </div>
</ng-template>

<ng-template #contactTemplate>
    <div class="page contact">
        <h1>How to Reach Me.</h1>

        <i class="material-icons">phone_android</i>
        <span>: (831) 295-9263</span>
        <br>
        <br>
        <i class="material-icons">email</i>
        <span>: </span><span class="email_link"
                             (click)="displayEmail(true)">luc.highwalker@gmail.com</span>
        <br>
        <div class="contact_button_group">
            <div class="contact_button_div">
                <button class="contact_button"
                        (click)="displayEmail(true)">
                    <i class="material-icons">person</i>
                </button>
                <br>
                <span>facebook</span>
            </div>
            <div class="contact_button_div">
                <button class="contact_button"
                        (click)="displayEmail(true)">
                    <i class="material-icons">people</i>
                </button>
                <br>
                <span>linkedIn</span>
            </div>
        </div>
    </div>
    
    <app-email-submission></app-email-submission>
</ng-template>



<div class="main_container" 
     [@enterContainer]="showPage">

     <app-page class="sub_container"
          [hidden]="activePage !== 0"
          [pageTemplate]="homeTemplate">    
    </app-page>

    <app-page class="sub_container"
              [hidden]="activePage !== 1"
              [pageTemplate]="aboutTemplate">    
    </app-page>

    <app-page class="sub_container"
              [hidden]="activePage !== 2"
              [pageTemplate]="projectsTemplate">    
    </app-page>

    <app-page class="sub_container"
              [hidden]="activePage !== 3"
              [pageTemplate]="contactTemplate">    
    </app-page>

</div>