.button {
    color: white;
    transform: scale(1, 1);
    display: inline-block;
    height: 25px;
    width: 100px;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    margin: 10px;
    padding-top: 3px;
    box-shadow: 0 0 10px 1px #393939;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: all 1.25s;
    cursor: pointer;

    .background {
      top: 0px;
    }
}

.button:hover {
  color: #239dee;
  border-color: #239dee;
  transform: scale(1.25, 1.25);
  transition: all 0.75s;
}
