.button {
    display: inline-block;
    height: 25px;
    width: 100px;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    margin: 10px;
    padding-top: 5px;
    box-shadow: 0 0 10px 1px #393939;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}