.copyright {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 12px;
    margin-right: 25px;
    color: darkgrey;
    opacity: 0.5;
    font-size: x-small;
    text-shadow: 1px 1px #393939;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}