<ng-template #pageTemplate>
  <div class="page about">
    <div>
      <luc-blueify [blueifyType]="'h1'" [content]="'Who am I?'"></luc-blueify>
    </div>

    <luc-buttons
      [text]="'resume'"
      [toDo]="displayPDF"
      [value]="true"
    ></luc-buttons>
    <luc-buttons [text]="'contact'" [toDo]="setPage" [value]="3"></luc-buttons>

    <div class="description">
      <luc-picture></luc-picture>
      <br />
      <luc-blueify
        [blueifyType]="'p'"
        [content]="
          'After a few classes to learn the basics at Cabrillo College, I spent several years teaching myself using online tutorials and forums. 2 years ago, I was given the opportunity of a 6 months paid internship at hospitalityPulse, a startup for which I had previously created 3D video loops for trade shows. Since August of last year I\'ve attended Make school, to further learn web technologies with a focus on backend. Having already completed all required courses, I am now focusing on the industry project, and also added full stack, and DevOps related courses to expand my understanding. I am hoping to find an opportunity as a junior software engineer, where I can continue learning, and contributing in any way I can.'
        "
      ></luc-blueify>
    </div>
  </div>

  <luc-pdf-viewer></luc-pdf-viewer>
</ng-template>

<luc-page [pageIndex]="1" [pageTemplate]="pageTemplate"> </luc-page>
