<ng-template #pageTemplate>
  <div class="page about">
    <div>
      <luc-blueify [blueifyType]="'h1'" [content]="'Who am I?'"></luc-blueify>
    </div>

    <luc-buttons
      [text]="'resume'"
      [toDo]="displayPDF"
      [value]="true"
    ></luc-buttons>
    <luc-buttons [text]="'contact'" [toDo]="setPage" [value]="3"></luc-buttons>

    <div class="description">
      <img class="image" src="assets\images\meMyselfAndI.jpg" /> <br />
      <luc-blueify
        [blueifyType]="'p'"
        [content]="
          'Over the past 5 years, I have taught myself to code. With the past year primarily focused on web technologies. If there\'s one thing I have learned throughout this process, is that there is always more to learn. Eager to further expand my knowledge, I sought after mentorship. And landed an internship under the guidance of Denis Bajet at hospitalityPulse. Now, with my new found knowledge; I\'m looking to join a team, where I can further hone my skills and build kick-ass tech.'
        "
      ></luc-blueify>
    </div>
  </div>

  <luc-pdf-viewer></luc-pdf-viewer>
</ng-template>

<luc-page [pageIndex]="1" [pageTemplate]="pageTemplate"> </luc-page>
