.page.about {
    position: relative;
    padding-top: 75px;
    padding-bottom: 50px;
}

.description {
    width: 75%;
    margin: 0 auto;
}

.image {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin: 25px;
    width: 20%;
    min-width: 200px;
    box-shadow: 0 0 10px 1px #393939;
}