@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pdfViewerBG {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.25;
    width: 100%;
    height: 100%;
}

.pdfViewer {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pdfLoader {
    position: fixed;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.loader {
    position: relative;
    width: 50px;
    height: 50px;
    border-top-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: white;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    animation: spin 0.75s linear infinite;
}

.error {
    position: relative;
    top: 45%;
    width: 100%;
    color: red;
    text-shadow: none;
}

.pdf {
    position: relative;
    z-index: 300;
    top: 7.5%;
    width: 65%;
    min-width: 415px;
    height: 85%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    box-shadow: 0 0 25px 5px #393939;
}

.pdfError {
    color: white;
    opacity: 0.9;
    position: fixed;
    z-index: 400;
    width: 215px;
    height: 50px;
    top: -100px;
    right: 0;
}

.pdfErrorLink {
    color: white;
    text-decoration: none;
}

.pdfErrorLink:hover {
    color: darkgrey;
    text-decoration: underline;
    cursor: pointer;
    text-shadow: none;
}