<div class="pdfViewerBG"
     [hidden]="showPDF === false"
     [@enterPDFBG]="showPDF"></div>
<div class="pdfViewer"
     [hidden]="showPDF === false"
     [@enterPDF]="showPDF"
     (click)="hidePDF()">
     
     <embed class="pdf" src="assets\pdf\LucBoettnerResume.pdf" type='application/pdf'>
</div>

<div class="pdfLoader"
     [hidden]="showPDF === false">
         <div class="loader"
              [hidden]="showError === true"></div>
         <span class="error"
               [hidden]="showError === false">error loading pdf</span>
    </div>

<div class="pdfError"
     [@enterError]="showError">
     <span>Resume not loading?</span>
    <br>
    <a class="pdfErrorLink" href="assets\pdf\LucBoettnerResume.pdf" target="_blank">click here</a>
</div>
