<ng-template #pageTemplate>
  <div class="page projects">
    <div class="projects_title">
      <luc-blueify [blueifyType]="'h1'" [content]="'Noteable Projects'"></luc-blueify>
    </div>

    <div class="project_backdrop" (click)="closeProjects()"></div>

    <luc-project
      *ngFor="let project of projects; index as i"
      [project]="projects[i]"
    ></luc-project>
  </div>

  <luc-gallery></luc-gallery>
</ng-template>

<luc-page [pageIndex]="2" [pageTemplate]="pageTemplate"> </luc-page>
