<ng-template #pageTemplate>
    <div class="page projects">
        <div class="projects_title">
            <app-blueify [blueifyType]="'h1'" [content]="'Projects'"></app-blueify>
        </div>

        <div class="projectBackdrop" (click)="closeProjects()"></div>

        <app-project *ngFor="let project of projects; index as i;" [project]="projects[i]"></app-project>
    </div>

    <app-gallery></app-gallery>
</ng-template>

<app-page [pageIndex]="2" [pageTemplate]="pageTemplate">
</app-page>