.page.not_found {
    margin: 150px auto;
}

.image {
    max-width: 100%;
    transform: translateX(-2px);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin: 25px auto;
    box-shadow: 0 0 10px 1px #393939;
}