.title {
    position: relative;
    z-index: 500;
    width: 350px;
    margin: 0 auto;
    padding-right: 10px;
    margin-top: 25px;
    height: 70px;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    box-shadow: 0 0 10px 1px #393939;
    border-collapse: collapse;
    cursor: pointer;
}

.title:hover {
    color: #239dee;
}

.title:active {
    color: grey;
    background-color: grey;
    border-color: #239dee;
}

.title_image {
    position: relative;
    margin: 10px;
    right: 40%;
    height: 50px;
    width: auto;
}

.title_title {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    text-align: center;
}

.description {
    margin: 25px 50px;
}

.link {
    min-width: 75px;
    color: #239dee;
    text-shadow: none;
    margin: 25px;
    display: inline-block;
}

.link:hover {
    color: darkgrey;
}

.dropdown {
    position: relative;
    z-index: 400;
    top: -2px;
    width: 75%;
    margin: 0 auto;
    min-width: 400px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    box-shadow: 0 0 10px 1px #393939;
    border-collapse: collapse;
}

